html {
    font-size: 16px;
}

body {
    background-color: white;
}

a {
    display: block;
    margin: 1rem;
    border: .1rem solid black;
    padding: 1rem 1rem 1rem 4rem;

    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    background-position: 1rem 1rem;
    font-size: 2rem;
    text-decoration: none;
    border-radius: .5rem;
}
.falso-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-bottom: .1rem solid black;
}

img {
    position: relative;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
}

h1 {
    
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
